/* import fonts from google api */

@import url( 'https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap' );
@import url( 'https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined' );

.icon {
    display: inline-block;
    text-transform: none;
    line-height: 1;
    white-space: nowrap;
    word-wrap: normal;
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    letter-spacing: normal;
    direction: ltr;
}

/* global color scheme */

:root {

    --gray-0: #ffffff;
    --gray-1: #f5f6f7;
    --gray-2: #d3d4d5;
    --gray-3: #b2b3b4;
    --gray-4: #202121;
    --gray-5: #010203;
    --gray-6: #000000;

    --color-main: var( --gray-5 );
    --color-bg: var( --gray-1 );

    --accent-1: #e30b5c;
    --accent-2: #00b67a;

    --color-good: var( --accent-2 );
    --color-bad: var( --accent-1 );

    --box-shadow: 2px 2px 4px rgba( 230 230 230 / 0.25 );

}

/* global styling rules */

:root {

    --padding: 64px;
    --content: 1200px;

}

*, *::before, *::after {
    box-sizing: border-box;
}

.noscrollbar,
.noscrollbar * {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.noscrollbar::-webkit-scrollbar,
.noscrollbar *::-webkit-scrollbar {
    display: none;
}

.noselect, .noselect * {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    margin: 0;
    line-height: 1.2;
    text-underline-offset: 10%;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: var( --color-main );
    background: var( --color-bg );
}

h1 {
    margin: 0 0 32px 0;
    text-transform: capitalize;
    font-size: 32px;
    font-weight: 900;
}

h2 {
    margin: 0 0 26px 0;
    font-size: 20px;
}

h3 {
    margin: 12px 0;
    font-size: 16px;
}

p {
    margin: 8px 0;
    line-height: 1.4;
}

a {
    text-decoration: none;
    color: inherit;
}

input, textarea, select, button {
    font-family: 'Poppins', sans-serif;
    outline: 0 none;
    height: 36px;
    padding: 0 10px;
    font-size: 16px;
    border-radius: 4px;
}

input, textarea, select {
    background: var( --gray-0 );
    border: 2px solid var( --accent-1 );
}

button {
    display: flex;
    align-items: center;
    color: var( --gray-0 );
    background: var( --accent-1 );
    border: 0;
    cursor: pointer;
}

button .icon {
    font-size: 22px;
}

a:hover {
    color: var( --accent-1 );
}

.rtb-divider {
    margin: var( --padding ) auto;
    width: 120px;
    height: 2px;
    background: var( --gray-1 );
}

.up {
    color: var( --color-good );
}

.down {
    color: var( --color-bad );
}

/* global elements */

/* page */

.rtb-page {
    margin: var( --padding ) auto;
    max-width: var( --content );
}

/* box */

.rtb-box {
    flex: 1;
    margin-bottom: 24px;
    padding: 24px;
    background: var( --gray-0 );
    border-radius: 12px;
    box-shadow: var( --box-shadow );
    overflow: hidden;
}

.rtb-box-heading {
    margin: 0 0 24px 0;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

.rtb-box-cols {
    display: flex;
    flex-flow: row nowrap;
    gap: 24px;
}

/* image */

.rtb-image {
    aspect-ratio: 1/1;
    background-color: var( --color-bg );
    border-radius: 10px;
    overflow: hidden;
}

/* tags */

.rtb-tags {
    display: flex;
    flex-flow: row wrap;
    gap: 24px;
}

.rtb-tags .tag {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 10px;
    padding: 10px 14px;
    font-weight: 700;
    background: var( --gray-0 );
    border-radius: 4px;
    box-shadow: var( --box-shadow );
}

.rtb-tags .tag.tag-primary {
    color: var( --gray-0 );
    background: var( --accent-1 );
}

.rtb-tags .tag.tag-secondary {
    color: var( --gray-0 );
    background: var( --accent-2 );
}

.rtb-tags .tag i {
    font-size: 24px;
}

/* grid */

.rtb-grid {
    display: grid;
    gap: 16px 32px;
}

.rtb-grid.col2 {
    grid-template-columns: repeat( 2, 1fr );
}

.rtb-grid.col3 {
    grid-template-columns: repeat( 3, 1fr );
}

.rtb-grid.col4 {
    grid-template-columns: repeat( 4, 1fr );
}

.rtb-grid-item-flex {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 12px;
}

.rtb-grid-item-img {
    flex: 0 0 auto;
    width: 56px;
}

/* profile + assets grid */

.rtb-profile-grid h4 {
    margin: 0;
    text-transform: uppercase;
    font-size: 13px;
    color: var( --gray-3 );
}

.rtb-profile-grid span {
    display: block;
}

.rtb-profile-grid span::first-letter {
    text-transform: uppercase;
}

.rtb-profile-grid b {
    display: block;
    margin-top: 2px;
    color: var( --accent-1 );
}

/* charts */

.rtb-chart {
    position: relative;
    width: 100%;
}

.rtb-chart canvas {
    margin: 0 -12px;
}

.rtb-chart.rtb-big-chart {
    height: 480px;
}

.rtb-chart.rtb-medium-chart {
    height: 320px;
}

.rtb-chart.rtb-small-chart {
    height: 180px;
}

.rtb-chart-controls {
    position: absolute;
    top: -42px;
    right: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 4px;
}

.rtb-chart-controls button {
    height: auto;
    padding: 4px 10px;
    font-size: 14px;
    font-weight: 700;
}

.rtb-chart-controls button:not(.active) {
    background: var( --gray-3 );
}