.rtb-header {
    position: sticky;
    top: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 56px;
    padding: 0 12px;
    background: var( --accent-1 );
    box-shadow: var( --box-shadow );
    overflow: hidden;
    z-index: 99;
}

.rtb-header-links {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 12px;
    white-space: nowrap;
}

.rtb-header-links a {
    color: var( --gray-0 );
    padding: 5px 10px;
    text-transform: capitalize;
    font-weight: 700;
    border-radius: 4px;
}

.rtb-header-links a.current {
    color: var( --accent-1 );
    background: var( --gray-0 );
}

.rtb-header-search {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

.rtb-header-search input {
    width: 320px;
    border-color: var( --gray-0 );
    border-radius: 4px 0 0 4px;
}

.rtb-header-search button {
    border-radius: 0 4px 4px 0;
    color: var( --accent-1 );
    background: var( --gray-0 );
}