.rtb-list {
    display: table;
    margin: -14px 0;
    width: 100%;
    text-transform: capitalize;
}

.rtb-list-item {
    display: table-row;
    height: 100px;
}

.rtb-list-item:not(:last-of-type) .rtb-list-cell {
    border-bottom: 2px solid var( --gray-1 );
}

.rtb-list-cell {
    display: table-cell;
    vertical-align: middle;
    padding: 14px;
}

.rtb-list-image {
    padding-left: 0;
    width: 86px;
}

.noimages .rtb-list-image {
    display: none;
}

.rtb-list-image .rtb-image {
    display: block;
    height: 72px;
    width: 72px;
}

.rtb-list-rank,
.rtb-list-networth {
    text-align: right;
}

.rtb-list-rank,
.rtb-list-diff,
.rtb-list-age {
    width: 1px;
}

.rtb-list-rank b,
.rtb-list-networth b {
    display: block;
    font-weight: 900;
}

.noimages .rtb-list-rank {
    padding-left: 0;
}

.rtb-list-diff img {
    display: block;
    width: 22px;
    height: 22px;
}

.rtb-list-networth span {
    font-size: 13px;
    font-weight: 700;
}

.rtb-list-networth span pct {
    display: none;
}

.rtb-list-age,
.rtb-list-country,
.rtb-list-source {
    font-size: 14px;
}

.rtb-list-age {
    text-align: center;
}

.rtb-list-source {
    padding-right: 0;
}

.rtb-list-empty {
    height: 240px;
    text-align: center;
    vertical-align: middle;
}

/* responsive adaptations */

@media all and ( max-width: 1000px ) {

    .rtb-list-item {
        height: 92px;
    }

    .rtb-list-cell {
        padding: 6px 10px;
    }

    .rtb-list-image {
        padding-left: 0;
        width: 70px;
    }

    .rtb-list-image .rtb-image {
        height: 60px;
        width: 60px;
    }

    .rtb-list-diff {
        display: none;
    }

}

@media all and ( max-width: 800px ) {

    .rtb-list-country {
        padding-right: 0;
    }

    .rtb-list-source {
        display: none;
    }

}

@media all and ( max-width: 600px ) {

    .rtb-list-item {
        height: 84px;
    }

    .rtb-list-cell {
        padding: 0 6px;
    }

    .rtb-list-image {
        padding-left: 0;
        width: 60px;
    }

    .rtb-list-image .rtb-image {
        height: 54px;
        width: 54px;
    }

    .rtb-list-networth {
        padding-right: 0;
    }

    .rtb-list-age,
    .rtb-list-country {
        display: none;
    }

}

@media all and ( max-width: 360px ) {

    .rtb-list-image {
        display: none;
    }

    .rtb-list-rank {
        padding-left: 0;
        text-align: left;
    }

}