@import 'page';
@import 'pagination';

/* filter */

.rtb-list-filter {
    display: flex;
    flex-flow: column nowrap;
    gap: 24px;
}

.rtb-list-filter-grid {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    min-height: 42px;
}

.rtb-list-filter-label {
    text-transform: uppercase;
    font-size: 14px;
    color: var( --gray-3 );
}

.rtb-list-filter-gap {
    flex: 1;
}

.rtb-list-filter input {
    visibility: hidden;
    flex: none;
    position: absolute;
    width: 0;
    height: 0;
}

.rtb-list-filter .tag {
    height: 42px;
    background: var( --gray-1 );
    box-shadow: none;
}

.rtb-list-filter input:checked + .tag {
    color: var( --gray-0 );
    background: var( --accent-1 );
}

.rtb-list-filter select {
    height: 42px;
    font-size: 18px;
}

/* list */

.rtb-list {
    display: table;
    margin: -14px 0;
    width: 100%;
    text-transform: capitalize;
}

.rtb-list-item {
    display: table-row;
    height: 100px;
}

.rtb-list-item:not(:last-of-type) .rtb-list-cell {
    border-bottom: 2px solid var( --gray-1 );
}

.rtb-list-cell {
    display: table-cell;
    vertical-align: middle;
    padding: 14px;
}

.rtb-list-image {
    padding-left: 0;
    width: 100px;
}

.rtb-list-image .rtb-image {
    display: block;
    height: 72px;
    width: 72px;
}

.rtb-list-rank,
.rtb-list-networth {
    text-align: right;
}

.rtb-list-rank,
.rtb-list-diff,
.rtb-list-age {
    width: 1px;
}

.rtb-list-rank b,
.rtb-list-networth b {
    display: block;
    font-weight: 900;
}

.rtb-list-diff img {
    display: block;
    width: 22px;
    height: 22px;
}

.rtb-list-networth span {
    font-size: 13px;
    font-weight: 700;
}

.rtb-list-networth span pct {
    display: none;
}

.rtb-list-age,
.rtb-list-country,
.rtb-list-source {
    font-size: 14px;
}

.rtb-list-age {
    text-align: center;
}

.rtb-list-source {
    padding-right: 0;
}

.rtb-list-empty {
    height: 240px;
    text-align: center;
    vertical-align: middle;
}