@import 'page';
@import 'chart';

.rtb-profile-tags {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 48px;
    margin-bottom: 24px;
}

.rtb-profile-nav {
    justify-content: flex-end;
}

.rtb-profile-header {
    display: grid;
    grid-template-columns: 200px auto;
    gap: 24px;
}

.rtb-profile-header-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: top center;
}

.rtb-profile-header-name {
    margin-bottom: 0;
}

.rtb-profile-header-label {
    margin-top: 4px;
    text-transform: capitalize;
}

.rtb-profile-networth {
    margin-top: 24px;
}

.rtb-profile-networth-value {
    font-size: 38px;
    font-weight: 900;
}

.rtb-profile-networth-change {
    margin: 4px 0 2px;
    font-weight: 700;
}

.rtb-profile-networth-date {
    font-size: 13px;
    color: var( --gray-3 );
}

.rtb-profile-relative {
    margin: var( --padding );
}

.rtb-profile-relative h3 {
    text-align: center;
}

.rtb-profile-dyk {
    margin: var( --padding ) auto;
    max-width: 600px;
    text-align: center;
}

.rtb-profile-dyk q,
.rtb-profile-relative b {
    font-size: 24px;
}

/* responsive adaptations */

@media all and ( max-width: 1240px ) {

    .rtb-profile-nav {
        display: none;
    }

}

@media all and ( max-width: 1000px ) {

    .rtb-profile-networth-value {
        font-size: 32px;
    }

    .rtb-profile-networth-change {
        font-size: 16px;
    }

}

@media all and ( max-width: 800px ) {

    .rtb-profile-tags,
    .rtb-profile-tags .rtb-tags {
        justify-content: center;
    }

    .rtb-profile-header {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        text-align: center;
        margin-top: 120px;
        overflow: visible !important;
    }

    .rtb-profile-header-image {
        margin-top: -120px;
        width: 180px;
        height: 180px;
    }

    .rtb-profile-networth {
        margin-top: 12px;
    }

    .rtb-profile-dyk q,
    .rtb-profile-relative b {
        font-size: 20px;
    }

}

@media all and ( max-width: 500px ) {

    .rtb-profile-networth {
        margin-top: 8px;
    }

    .rtb-profile-networth-value {
        font-size: 26px;
    }

    .rtb-profile-networth-change {
        margin: 2px 0;
        font-size: 14px;
    }

}