@import 'page';

.rtb-profile-tags {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 48px;
    margin-bottom: 24px;
}

.rtb-profile-nav {
    justify-content: flex-end;
}

.rtb-profile-header {
    display: grid;
    grid-template-columns: 200px auto;
    gap: 24px;
}

.rtb-profile-header-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: top center;
}

.rtb-profile-header-name {
    margin-bottom: 0;
}

.rtb-profile-header-label {
    margin-top: 4px;
    text-transform: capitalize;
    font-size: 18px;
}

.rtb-profile-networth {
    margin-top: 24px;
}

.rtb-profile-networth-value {
    font-size: 38px;
    font-weight: 900;
}

.rtb-profile-networth-change {
    margin: 4px 0 2px;
    font-size: 18px;
    font-weight: 700;
}

.rtb-profile-networth-date {
    font-size: 13px;
    color: var( --gray-3 );
}

.rtb-profile-grid h4 {
    margin: 0 0 6px 0;
    text-transform: uppercase;
    font-size: 13px;
    color: var( --gray-3 );
}

.rtb-profile-grid span {
    display: block;
    font-size: 18px;
}

.rtb-profile-grid span::first-letter {
    text-transform: uppercase;
}

.rtb-profile-grid b {
    display: block;
    margin-top: 2px;
    font-size: 18px;
    color: var( --accent-1 );
}