@import 'page';
@import 'chart';
@import 'table';

.rtb-stats-tags {
    margin-bottom: 24px;
}

.rtb-stats-grid {
    display: flex;
    flex-flow: column nowrap;
    gap: 24px;
}

.rtb-stats-grid-line {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    gap: 48px;
}

.rtb-stats-grid-label h4 {
    margin: 0;
    text-transform: capitalize;
}

.rtb-stats-grid-label span {
    font-size: 13px;
    color: var( --gray-3 );
}

.rtb-stats-grid-value {
    font-size: 38px;
    font-weight: 900;
    color: var( --accent-1 );
}

.rtb-stats-list-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.rtb-stats-list-table th,
.rtb-stats-list-table td {
    padding: 12px;
}

.rtb-stats-list-table th {
    padding-bottom: 32px;
    text-align: left;
    text-transform: uppercase;
    font-size: 13px;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

.rtb-stats-list-table .right {
    text-align: right;
}

.rtb-stats-list-table-label {
    font-weight: 900;
}

.rtb-stats-list-table-networth {
    border-right: 2px solid var( --gray-1 );
}

.rtb-stats-list-table-profile b,
.rtb-stats-list-table-profile a {
    margin-right: 8px;
}

.rtb-stats-list-table tbody tr:not(:last-of-type) td {
    border-bottom: 2px solid var( --gray-1 );
}