@import 'page';
@import 'chart';

.rtb-stats-tags {
    margin-bottom: 24px;
}

.rtb-stats-grid {
    display: flex;
    flex-flow: column nowrap;
    gap: 24px;
}

.rtb-stats-grid-line {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    gap: 48px;
}

.rtb-stats-grid-label h4 {
    margin: 0;
    text-transform: capitalize;
}

.rtb-stats-grid-label span {
    font-size: 13px;
    color: var( --gray-3 );
}

.rtb-stats-grid-value {
    font-size: 38px;
    font-weight: 900;
    color: var( --accent-1 );
}

.rtb-stats-list-grid {
    display: grid;
    grid-template-columns: repeat( 2, 1fr );
    gap: 24px;
}

.rtb-stats-list-grid-item {
    padding: 12px 16px 16px 16px;
    border: 2px solid var( --gray-1 );
    border-radius: 10px;
}

.rtb-stats-list-grid-label {
    margin: 0;
}

.rtb-stats-list-grid-value {
    margin: 12px 0;
}

.rtb-stats-list-grid-value span {
    margin-right: 12px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: var( --gray-3 );
}

.rtb-stats-list-grid-value b {
    font-size: 20px;
    font-weight: 700;
    color: var( --accent-1 );
}