@import 'page';

.rtb-top10-grid {
    position: relative;
    width: 100%;
    height: 480px;
    margin: 0 -5px;
    overflow: hidden;
}

.rtb-top10-profile {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    padding: 24px 5px 0 5px;
    overflow: hidden;
    transition: all 500ms ease-out;
}

.rtb-top10-profile-column {
    position: relative;
    flex: 1;
}

.rtb-top10-profile-column .col {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: var( --accent-1 );
    transition: all 750ms ease-out;
}

.rtb-top10-profile-column .col b {
    position: absolute;
    top: -24px;
    left: 0;
    right: 0;
    text-align: center;
}

.rtb-top10-profile-image {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    border-radius: 0;
    background: var( --gray-2 );
}

.rtb-top10-profile-inner {
    flex: 0 0 86px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    text-align: center;
    background: var( --gray-0 );
}

.rtb-top10-profile-inner a {
    line-height: 1.1;
    font-size: 16px;
    font-weight: 700;
    color: var( --accent-1 );
}

.rtb-top10-profile-inner span {
    text-transform: uppercase;
    font-size: 12px;
}

.rtb-top10-footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0;
}

.rtb-top10-month {
    font-size: 20px;
    font-weight: 900;
    color: var( --accent-1 );
}

.rtb-top10-controls a.disabled {
    pointer-events: none;
    filter: grayscale( 1 ) opacity( 0.25 );
}