//- filter page
extends templates/layout.pug

block title
  title Filter — Real-time billionaires

block content
  div.rtb-page.rtb-filter
    div.rtb-box
      h1 Filter
      p There are a number of filters provided for filtering and searching profiles based on specific criteria.
      |  For example, by gender, age or nationality. A list of all active filters can be found down below.

      //- global filter
      ul
        each label, key in filter._global
          li
            a(
              href!= core.url( '/filter/' + key )
            )!= label

    //- list filters
    -delete filter._global
    each item, type in filter
      div.rtb-box
        h3.rtb-box-heading!= item.label
        ul.col2
          each label, key in item.index
            li
              a(
                href!= core.url( '/filter/' + type + '/' + key )
              )!= label