//- list page
extends templates/layout.pug

block content
  div.rtb-page.rtb-list

    //- header
    div.rtb-box.rtb-list-header
      h1 Real-time billionaires

    //- filter
    div.rtb-box.rtb-list-filter

    //- list (content)
    div.rtb-box.rtb-list-content

    //- pagination
    div.rtb-box.rtb-list-pagination