//- daily movers page
extends templates/layout.pug

block title
  title Winners & Losers
  meta( name= 'description', content= 'Get an update on the daily winners and losers in net worth and in percent of their fortunes.' )/

block styles
  link( rel= 'stylesheet', href= '/css/movers.css' )/

block content
  div.rtb-page.rtb-movers-page

    //- header
    div.rtb-box.rtb-movers-header
      h1 Winners &amp; Losers
      -var movers = wl
      include templates/movers.pug

    //- daily winners
    div.rtb-box.rtb-movers-value
      h3.rtb-box-heading Daily winners

    //- daily losers
    div.rtb-box.rtb-movers-percent
      h3.rtb-box-heading Daily losers

    //- image source
    include templates/source.pug