//- daily movers page
extends templates/layout.pug

block title
  title Winners & Losers

block styles
  link( rel= 'stylesheet', href= '/css/movers.css' )/

block content
  div.rtb-page.rtb-movers

    //- header
    div.rtb-box.rtb-movers-header
      h1 Winners &amp; Losers
      -var movers = wl
      include templates/wl.pug

    //- winners & losers in net worth
    div.rtb-box.rtb-movers-value
      h3.rtb-box-heading Daily movers in net worth
      -movers = charts.networth
      include templates/movers.pug

    //- winners & losers in percent
    div.rtb-box.rtb-movers-percent
      h3.rtb-box-heading Daily movers in percent
      -movers = charts.percent
      include templates/movers.pug