//- privacy statement
extends templates/layout.pug

block title
  title Privacy statement — Real-time billionaires

block content
  div.rtb-page.rtb-privacy
    div.rtb-box
        h1 Privacy statement
        p This website is provided free of charge and without advertising. Data and personal information other than those listed
        |  below are expressly not stored. No cookies are used.
    div.rtb-box
      h3.rtb-box-heading Data storage
      p This site collects a number of general data and information with each call by a person concerned or an automated system.
       |  These general data and information are stored in the server’s log files. The following can be recorded: the browser
       |  types and versions used, the operating system used by the accessing system, the website from which an accessing system
       |  reaches this site (so-called referrer), the sub-pages which are accessed via an accessing system on this site, the
       |  date and time of access to the website, an Internet Protocol address (IP address), the Internet service provider of
       |  the accessing system and other similar data and information that serve to ward off dangers in case of attacks on
       |  information technology systems.
      p The data stored in the log files remain untouched and are not viewed for any purposes. There is no transfer to third
       |  parties or inspection of stored data.
    div.rtb-box
      h3.rtb-box-heading Disclaimer
      p This website is intended for entertainment purposes only. It makes no claim to accuracy or completeness of its information.
       |  Data is based on the daily updated Forbes list and calculated and analyzed by internal software. Errors or inaccuracies
       |  may occur at Forbes as well as in the data processing.
      p This website does not represent financial advice and is neither a guide nor a recommendation to invest money. All
       |  claims for possible damages arising from data on this website as well as legal action are excluded.
    div.rtb-box
      h3.rtb-box-heading Real-time data &amp; API
      p All data on this website is based on Forbes’ real-time list of the world’s richest billionaires, which is updated daily
       |  and can be visited following <a href="https://www.forbes.com/real-time-billionaires" target="_blank">this link</a>.
       |  Historical net worth and ranking data was automatically imported and processed using archive.org. These values reach
       |  back until 2020.
      p Access and usage of the data provided on this website is free and unlimited through the GitHub repository
       |  <a href="https://github.com/komed3/rtb-api" target="_blank">@komed3/rtb-api</a>. There are also detailed instructions
       |  on how to retrieve data for custom projects. The repository is updated several times a year.