//- (general) stats page
extends templates/layout.pug

block scripts
  script( src= 'https://cdn.jsdelivr.net/npm/chart.js' )
  script( src= '/js/chart.min.js' )

block styles
  link( rel='stylesheet', href= '/css/stats.css' )/