//- (general) stats page
extends templates/layout.pug

block title
  title Statistics — Real-time billionaires

block scripts
  script( src= 'https://cdn.jsdelivr.net/npm/chart.js' )
  script( src= '/js/chart.min.js' )

block content
  div.rtb-page.rtb-stats.rtb-general-stats

    //- header
    div.rtb-box.rtb-stats-header
      h1 Statistics

    //- total net worth
    div.rtb-box.rtb-stats-total
      h3.rtb-box-heading Total net worth
      div.rtb-chart.rtb-ntw-chart(
        chart-type= 'networth'
        chart-data!= core.chartData( charts.total )
      )
        canvas.rtb-chart-inner