//- top 10 richest billionaires
extends templates/layout.pug

block scripts
  script( src= '/js/top10.min.js' )

block styles
  link( rel= 'stylesheet', href= '/css/top10.css' )/

block title
  title Top 10 — Real-time billionaires

block content
  div.rtb-page.rtb-box.rtb-top10
    h1 Top 10 richest billionaires
    div.rtb-top10-container(
      top10-data= core.chartData( top10 )
    )
      div.rtb-top10-grid
      div.rtb-top10-footer
        div.rtb-top10-month
        div.rtb-tags.rtb-top10-controls
          a.tag.tag-primary.play( href= '#' )
            i.icon play_arrow
            span Play
          a.tag.tag-primary.prev( href= '#' )
            i.icon arrow_back
            span Previous
          a.tag.tag-primary.next( href= '#' )
            i.icon arrow_forward
            span Next