//- top 10 richest billionaires
extends templates/layout.pug

block scripts
  script( src= '/js/top10.min.js' )

block styles
  link( rel= 'stylesheet', href= '/css/top10.css' )/

block title
  title Top 10 — Real-time billionaires

block content
  div.rtb-page.rtb-box.rtb-top10
    h1 Top 10 richest billionaires