//- templates/layout.pug (default layout)
doctype html
html( lang= 'en' )

  //- html header
  head
    meta( charset= 'UTF-8' )/
    meta( name= 'viewport', content= 'width=device-width, initial-scale=1.0' )/
    block title
      title Tracking real-time billionaires
    block scripts
    block styles
      link( rel= 'stylesheet', href= '/css/page.css' )/

  //- html content
  body

    //- main content
    main#main.rtb-wrapper( role= 'main' )
      block content