//- templates/nav.pug
-
  var links = [
    [ '/', 'home', 'Home' ],
    [ '/list/rtb', 'list-rtb', 'Real-time List' ],
    [ '/stats', 'stats', 'Statistics' ],
    [ '/movers', 'movers', 'Winners & Losers' ],
    [ '/top10', 'top10', 'Top 10' ]
  ];

each link in links
  a(
    href= link[0],
    class= (
      link[1] == global.nav
        ? 'current'
        : ''
    )
  )!= link[2]